<!-- begin login -->
<div class="login bg-black animated fadeInDown">
  <!-- begin brand -->
  <div class="login-header">
    <div class="brand">
      <span class="logo"></span> Color Admin
      <small>Recuperar contraseña</small>
    </div>
    <div class="icon">
      <i class="fa fa-sign-in"></i>
    </div>
  </div>
  <!-- end brand -->
  <div class="login-content">
    <opt-form-recover-password></opt-form-recover-password>
    <p class="text-center link" (click)="goToLogin()">Volver</p>
  </div>
</div>
<!-- end login -->
