<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="section">
    <h2>Cambio de Contraseña</h2>
    <div class="row mb-4">
      <div class="col-md-12">
        <label class="control-label">{{LABELS.actualPassword}} <span class="text-danger">*</span></label>
        <input type="password" class="form-control" placeholder="{{PLACEHOLDERS.actualPassword}}" required
               formControlName="actualPassword"/>
        <ul class="parsley-errors-list filled" *ngIf="formErrors.actualPassword">{{ formErrors.actualPassword }}</ul>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <label class="control-label">{{LABELS.password}} <span class="text-danger">*</span></label>
        <input type="password" class="form-control" placeholder="{{PLACEHOLDERS.password}}" required
               formControlName="password"/>
        <ul class="parsley-errors-list filled" *ngIf="formErrors.password">{{ formErrors.password }}</ul>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12">
        <label class="control-label">{{LABELS.repeatPassword}} <span class="text-danger">*</span></label>
        <input type="password" class="form-control" placeholder="{{PLACEHOLDERS.repeatPassword}}" required
               formControlName="repeatPassword"/>
        <ul class="parsley-errors-list filled" *ngIf="formErrors.repeatPassword">{{ formErrors.repeatPassword }}</ul>
      </div>
    </div>
  </div>

  <div class="alert fade show mb-4" *ngIf="serverMessage.show"
       [ngClass]="serverMessage.isStatusOk ? 'alert-success' : 'alert-danger'">
    {{ serverMessage.message }}
    <span class="close" (click)="serverMessage.show = false">×</span>
  </div>
  <div class="row pt-3">
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-success btn-lg">{{SUBMIT_LABEL}}</button>
    </div>
  </div>
</form>
