.login-cover {
  &, .login-cover-bg, .login-cover-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .login-cover-bg {
    background-color: #000;
    opacity: 0.5;
  }
}

.login-v2 {
  background: rgba(0, 0, 0, .4);
  color: #ccc;
  width: 450px;
  margin: 168px 0 0 -225px;
  position: absolute;
  top: 0;
  left: 50%;
}

.link {
  cursor: pointer;
  margin-top: 10px;
}

.link:hover {
  text-decoration: underline;
}
